.text {
	font-family: Verdana, Arial;
	font-size: 12px;
	color:#11334D;
	text-decoration: none; 
	text-align:justify;
	line-height:1.5;
	font-weight: lighter;
}
.MENU {
	font-family:Verdana,Arial;
	font-size: 13px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration: none;
}
.MENU:hover{
	font-family:Verdana,Arial;
	font-size: 13px;
	line-height: 20px;
	color: #11334D;
	font-weight:bold;
	text-decoration:underline;
}
.point {
	font-family:Verdana,Arial;
	font-size: 14px;
	line-height: 20px;
	font-weight:bold;
	color: #1D648E;
	text-decoration: none;
}
.point2 {
	font-family:Verdana,Arial;
	font-size: 13px;
	line-height: 20px;
	font-weight:bold;
	color: #1D648E;
	text-decoration: none;
}
.more {
	font-family:Verdana,Arial;
	font-size: 13px;
	line-height: 20px;
	color: #1D648E;
	text-decoration: none;
}
.more:hover {
	font-family:Verdana,Arial;
	font-size: 13px;
	line-height: 20px;
	font-weight:bold;
	color: #1D648E;
	text-decoration: none;
}
.bottom {
	font-family: Verdana, Arial;
	font-size: 12px;
	color:#FFFFFF;
	text-decoration: none; 
	text-align:justify;
	line-height:1.5;
	font-weight: lighter;
}
.label {
	font-family:Verdana,Arial;
	font-size: 13px;
	line-height: 20px;
	font-weight:bold;
	color: #1D648E;
	text-decoration: none;
}
.button {
	font-family:Verdana,Arial;
	font-size: 13px;
	line-height: 20px;
	font-weight:bold;
	color: #1D648E;
	
}
.point_back{
background-image:url(../images/1.gif); background-position:center; background-repeat:no-repeat;
}


